html{
    background-color: rgb(38, 38, 37)
}
h1, h2{   
    text-align: center;
}
body{
    color: aquamarine;
}
img{
    display: block;
    margin: 0 auto;
    animation: fadein 12s;
}
a:link{
    text-decoration: none;
    color: antiquewhite;
}
a:visited{
    text-decoration: none;
    color:aquamarine;
    
}
a:hover{
    text-decoration: none;
    color: aquamarine; 
}
P{
    text-indent: 1em;      
}
@keyframes fadein{
    from{opacity: 0;}
    to{opacity: 1;}
}